  body {
  
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
  }
  table {
  
    background: #00bfff;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
  }
  th {
    border-bottom: 1px solid #364043;
    color: #000000;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
  }
  td {
    color: #000000;
    font-weight: 400;
    padding: 0.65em 1em;
  }
  .disabled td {
    color: #4F5F64;
  }
  tbody tr {
    transition: background 0.25s ease;
  }
  tbody tr:hover {
    background: #014055;
  }
  
  
  /* INTRO*/
  .container2 {
      background-color:#00000060;
      color:white;
      border: 3px solid wheat;
      padding: 0px;
      margin: 0%;
      margin-top: 40px;
      
      }
      
      h3 {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 50px;
      color: antiquewhite;
      
      }
      
      p {
          font-family: 'Times New Roman', Times, serif;
          font-size: 20px;
          color: #8f9296;
      }